<div class="container">
    <div>
        <h3>Update Movie</h3>
    </div>
    <form [formGroup]="addMovieForm">
        <label class="spacer">Title</label>
        <div class="col-12">
            <input type="text" name="title" [formControl]="titleFormControl" required>
        </div>
        <label class="spacer">Year</label>
        <div class="col-12">
            <input type="number" name="year" [formControl]="yearFormControl" required>
        </div>
        <label class="spacer">Plot Summary</label>
        <div class="col-12">
            <textarea name="plotSummary" [formControl]="plotSummaryFormControl" required></textarea>
        </div>
        <label class="spacer">Gross Takings Amount</label>
        <div class="col-12">
            <input type="number" name="takingsAmount" label="Gross Takings Amount" [formControl]="takingsAmountFormControl" required>
        </div>
        <label class="spacer">Available on DVD</label>
        <div class="col-12">
            <input class="radio-button" type="radio" name="availableOnDvd" [value]="true" [formControl]="availableOnDvdFormControl"> Yes&nbsp;
            <input class="radio-button" type="radio" name="availableOnDvd" [value]="false" [formControl]="availableOnDvdFormControl"> No
        </div>
        <label class="spacer">Genre</label>
        <div class="col-12">
            <input type="text" name="genre" label="Genre" [formControl]="genreFormControl" required>
        </div>
        <label class="spacer">Picture Url</label>
        <div class="col-12">
            <input type="text" name="pictureUrl" label="Picture Url" [formControl]="pictureUrlFormControl" required>
        </div>
        <div class="col-12 buttons spacer">
            <button type="button" (click)="submitMovie()" [disabled]="waitingEventHandling">Update</button>&nbsp;
            <button type="button" (click)="redirectToMovieDetails()">Cancel</button>
        </div>
    </form>
</div>
