/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body {
  height: 100%;
  margin: 0;
}
.hidescrollbar{
    overflow:hidden;
}
.navbar {
  margin-bottom: 0 !important;
}
a {
  color: #0366d6;
  color: green;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ajs-button {
  border-radius: 5px;
}

.ajs-button.ajs-ok {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}

.ajs-button.ajs-ok:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.ajs-button.ajs-cancel {
  color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
}

.ajs-button.ajs-cancel:hover {
  color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

app-movie-list, app-add-movie {
  display: block;
  background: url(/assets/bg-cinema.jpg) center center fixed;
  background-size: cover;
}

app-add-movie {
  height: 100%;
}
