/* You can add global styles to this file, and also import other style files */
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body {
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hidescrollbar{
    overflow:hidden;
}

.navbar {
  margin-bottom: 0 !important;
}

a {
  color: #0366d6;
  color: green;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.ajs-button {
  border-radius: 5px;
}

.ajs-button.ajs-ok {
  color: #007bff;
  background-color: transparent;
  border-color: #007bff;
}

.ajs-button.ajs-ok:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.ajs-button.ajs-cancel {
  color: #6c757d;
    background-color: transparent;
    border-color: #6c757d;
}

.ajs-button.ajs-cancel:hover {
  color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* .list-bg {
  background: url(/assets/bg-movie.jpg) center center fixed;
  background-size: cover;
} */

.approve-comments-background { 
  background: url(https://images.unsplash.com/photo-1491947153227-33d59da6c448) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
  width: 100%;
}

.edit-user-profile-background {
  background: url(https://i.pinimg.com/originals/ea/bd/27/eabd27da402d773b980e2c096463fd70.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
  width: 100%;
}


.movie-list-background { 
  background: url(https://images.unsplash.com/photo-1580499260271-c1d25c8c26c8) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 1024px;
  width: 100%;
}

.list-bg {
  background: url(https://raw.githubusercontent.com/mihairuncan/RocketMovies/master/Client/rocket-movies-client/src/assets/bg-movie.jpg) center center fixed;
  background-size: cover;
}