<div class="container">
    <form 
        [formGroup]="profileForm"
        (ngSubmit)="saveUserData()">
       <div class="col-md-4 mb-3">
         <label for="name">Name</label>
         <input type="text" class="form-control" id="name" formControlName="name" required>
       </div>
       <div class="col-md-6 mb-3">
         <label for="username">Username</label>
         <input type="text" class="form-control" id="username" formControlName="username" required>
       </div>
       <div class="col-md-3 mb-3">
         <label for="email">Email</label>
         <input type="text" class="form-control" id="email" formControlName="email" required>
       </div>
     <button class="btn btn-primary" type="submit">Save</button>
   </form>
</div>