.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.editProfile{
    width: 300px;
}

h1 {
    text-align: center;
}

.form-control:focus {
    z-index: 2;
}

.btn-primary {
    margin-right: 10px;
}
.ng-invalid.ng-touched.form-control {
  border: 1px solid red;
}

.header {
   opacity: 0.8;
   text-align: center;
   padding: 0;
   background-color: #eee;
   width: 60%;
   margin: auto;
   margin-bottom: 10px;
   margin-top: 20px;
}

#formRow {
    -webkit-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 21px 0px rgba(0,0,0,0.75);
    padding: 3rem;
    width: 60%;
    margin: auto;
    background-color: #eee;
}
