<header>
  <nav id="nav-style"
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><i class="fa fa-rocket" aria-hidden="true"></i> 
        RocketMovies</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item mr-3" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/movies']"><i class="fa fa-film" aria-hidden="true"></i>
              Movies</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i>
              Login</a>
          </li>
          <li>
            <div *ngIf="loggedIn()" class="dropdown mt-4" dropdown>
              <a class="dropdown-toggle text-dark" dropdownToggle>
                Welcome {{loggedInUser | titlecase}}
              </a>
              <div class="dropdown-menu mt-4" *dropdownMenu>
                <a class="dropdown-item" [routerLink]="['/profile']">
                  <i class="fa fa-user"></i> Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">
                  <i class="fa fa-sign-out"></i>Logout</a>
              </div>
            </div>
        
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>