<div class="container">
    <div>
        <h3>Movie Information</h3>
    </div>
    <form [formGroup]="movieForm">
      <label class="spacer">Title</label>
      <div class="col-12">
        <input type="text"
               name="title"
               class="movie"
               formControlName="title"
               required>
        <div *ngIf="movieForm.controls['title'].invalid && (movieForm.controls['title'].dirty || movieForm.controls['title'].touched)" class="text-danger">
          <div *ngIf="movieForm.controls['title'].errors.required">
            Title is required.
          </div>
        </div>
      </div>
      <label class="spacer">Year</label>
      <div class="col-12">
        <input type="number"
               name="year"
               class="movie"
               formControlName="year"
               required>
        <div *ngIf="movieForm.controls['year'].invalid && (movieForm.controls['year'].dirty || movieForm.controls['year'].touched)" class="text-danger">
          <div *ngIf="movieForm.controls['year'].errors.required">
            Year is required.
          </div>
          <div *ngIf="movieForm.controls['year'].errors.min">
            Year must be greater than 1900.
          </div>
        </div>
      </div>
      <label class="spacer">Plot Summary</label>
      <div class="col-12">
        <textarea name="plotSummary"
                  class="movie"
                  formControlName="plotSummary"
                  required>
            </textarea>
        <div *ngIf="movieForm.controls['plotSummary'].invalid && (movieForm.controls['plotSummary'].dirty || movieForm.controls['plotSummary'].touched)" class="text-danger">
        Your opinion is required!
        </div>
      </div>
      <label class="spacer">Gross Takings Amount</label>
      <div class="col-12">
        <input type="number"
               name="grossTakingsAmount"
               class="movie"
               formControlName="grossTakingsAmount"
               required>
        <div *ngIf="movieForm.controls['grossTakingsAmount'].invalid && (movieForm.controls['grossTakingsAmount'].dirty || movieForm.controls['grossTakingsAmount'].touched)" class="text-danger">
          <div *ngIf="movieForm.controls['grossTakingsAmount'].errors.required">
            Gross amount is required.
          </div>
        </div>
      </div>
      <label class="spacer">Available on DVD</label>
      <div class="col-12">
        <input class="radio-button"
               type="radio"
               name="isAvailableOnDVD"
               [value]="true"
               formControlName="isAvailableOnDVD"> Yes&nbsp;
        <input class="radio-button"
               type="radio"
               name="isAvailableOnDVD"
               [value]="false"
               formControlName="isAvailableOnDVD"> No
      </div>
      <label class="spacer">Genre</label>
      <div class="col-12">
        <select name="genre" class="movie" formControlName="genre" required>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Horror">Horror</option>
          <option value="Thriller">Thriller</option>
        </select>
        <div *ngIf="movieForm.controls['genre'].invalid && (movieForm.controls['genre'].dirty || movieForm.controls['genre'].touched)" class="text-danger">
          <div *ngIf="movieForm.controls['genre'].errors.required">
            Genre is required.
          </div>
        </div>
      </div>
      <label class="spacer">Picture Url</label>
      <div class="col-12">
        <input type="text"
               name="pictureUrl"
               class="movie"
               formControlName="pictureURL"
               required>
        <div *ngIf="movieForm.controls['pictureURL'].invalid && (movieForm.controls['pictureURL'].dirty || movieForm.controls['pictureURL'].touched)" class="text-danger">
          <div *ngIf="movieForm.controls['pictureURL'].errors.required">
            Picture url is required.
          </div>
          <div *ngIf="movieForm.controls['pictureURL'].errors.pattern">
            Enter a valid url!
          </div>
        </div>
      </div>
      <div class="col-12 buttons spacer">
        <button class="btn btn-primary"
                type="button"
                [disabled]="!movieForm.valid"
                (click)="submitMovieData()">
          {{ submitLabel }}
        </button>
        <button class="btn btn-secondary"
                type="button"
                (click)="redirectToViewMovies()">
          Cancel
        </button>
      </div>
    </form>
</div>
        
       
        
  
