<div *ngIf="currentMovie" class="container" id="details">
    <div class="jumbotron">
        <h1>{{ currentMovie.title }}</h1>
    </div>
    <div class="row">
      <div class="col-lg-6" id="movieDetails">
        <h4><b>Details:</b></h4>
        <h5><b>Year: </b>{{ currentMovie.year }}</h5>
        <h5><b>Plot Summary: </b>{{ currentMovie.plotSummary }}</h5>
        <h5><b>Gross Earnings: </b>{{ currentMovie.grossTakingsAmount }}</h5>
        <h5><b>Available on DVD: </b>{{ currentMovie.isAvailableOnDVD }}</h5>
        <h5><b>Genre: </b>{{ currentMovie.genre }}</h5>
        <h5 *ngIf="currentMovie.rating != 0"><b>Rating:</b> {{ currentMovie.rating }}<span class="mr-4"></span>
        <fa *ngFor="let item of constructEmptyArray(currentMovie.rating)" class="rating-list star" name="star"><i class="fa fa-star"></i></fa></h5>
        <h5 *ngIf="currentMovie.rating == 0"><b>Rating: </b>Not rated yet</h5>
        <hr />
        <h4 *ngIf="currentMovie.personRoles.length > 0"><b>Cast</b></h4>
          <table class="table table-sm table-borderless" *ngIf="currentMovie.personRoles.length > 0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Date of birth</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of currentMovie.personRoles">
                <td>{{person.name}}</td>
                <td>{{person.surname}}</td>
                <td>{{person.dateOfBirth | date}}</td>
                <td>{{person.role}}</td>
              </tr>
            </tbody>
          </table>
          <button *ngIf="currentUserRole == 'Admin'" class="btn btn-outline-danger" type="button"
                  (click)="initializeDeleteMovie()">
            Delete
            Movie
          </button>
          <button *ngIf="currentUserRole == 'Admin'" class="btn btn-outline-warning" type="button"
                  (click)="initializeUpdateMovie()">
            Update
            Movie
          </button>
          <div *ngIf="isOpen">
            <app-movie-upsert [selectedMovie]="currentMovie" [submitLabel]="label" (onSubmit)="reloadData($event)">
            </app-movie-upsert>
          </div>
          <hr />
          <div *ngIf="isUserLoggedIn">
            <h4><b>Your rating:</b></h4>
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-inline rating-list" *ngFor="let rating of ratings">
                  <li (mouseenter)="hoverIndex=rating"
                      (mouseleave)="hoverIndex=-1"
                      (click)="sendRating(rating)"
                      [ngClass]="{'selected': rating <= lastRatingValue, 'hovered': rating <= hoverIndex}">
                    <i class="fa fa-star"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div *ngIf="!addCommentMode && isUserLoggedIn">
            <button class="btn btn-outline-primary" type="button" (click)="commentFormToggle()">
              Add Comment
            </button>
            <button id="addFavourite" [disabled]="isAddToFavouriteButtonDisabled" class="btn btn-outline-info" type="button" (click)="addToFavourites()">
              <i class="fa fa-plus mr-1"></i>
              Add to Favourites
            </button>
          </div>
          <h4 *ngIf="currentMovie.userComments.length > 0">Comments:</h4>
          <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="currentMovie.userComments.length > 0">
            <thead>
              <tr>
                <th>Username</th>
                <th>Text</th>
                <th>Added On</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comment of currentMovie.userComments">
                <td>{{ comment.username }}</td>
                <td>{{ comment.commentText }}</td>
                <td>{{ comment.addedOn | timeAgo }}</td>
                <td>
                  <a *ngIf="comment.username === loggedUser" class="btn btn-outline-primary btn-sm"
                     (click)="updateCommentFormToggle(comment)">Update</a>
                  <a *ngIf="comment.username === loggedUser" class="btn btn-outline-danger btn-sm"
                     (click)="deleteComment(comment.commentId)" (onSubmit)="reloadData($event)">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="addCommentMode">
            <app-add-comment [currentMovie]="currentMovie" (onSubmit)="addCommentPassChild($event)"
                             (onClose)="closeFormAtCancel($event)">
            </app-add-comment>
          </div>
          <div *ngIf="updateCommentMode">
            <app-update-comments [currentMovie]="currentMovie" [comment]="currentComment"
                                 (onSubmit)="reloadData($event)" (onClose)="closeUpdateFormAtCancel($event)">
            </app-update-comments>
          </div>
          <div><hr /> <button id="backBtn" class="btn btn-primary" type="button" (click)="goBack()"><i class="fa fa-arrow-left"></i></button></div>

        </div>
        <hr />
        <div class="col-lg-6">
          <div class="text-center">
            <img src="{{ currentMovie.pictureURL }}" class="img-fluid" />
          </div>
        </div>

      </div>
</div>
