.thumbnail img {
    width: 200px;
    height: 200px;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.spacer {
    margin-top: 30px;
}

/* .movie {
    border: 1px transparent;
} */

.movie.active .thumbnail {
    border-color: tomato;
}
