<div class="container-flex" id="login">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Forgot Password</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
          <div class="spinner"></div>
          <div class="input-group form-group">
            <label for="username" class="text-light">Username</label>
            <input id="username" type="text" class="form-control" placeholder="Username" formControlName="username"
                   required>
          </div>

          <div class="input-group form-group">
            <label for="email" class="text-light">Email</label>
            <input id="email" type="text" class="form-control" placeholder="Email" formControlName="email" required>
          </div>

          <div class="form-group text-center">
            <button @fade
                    class="btn login_btn"
                    type="submit"
                    [disabled]="!forgotPasswordForm.valid">
              Reset Password
            </button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          <a href="/login" class="subLinks">Go to Login page</a>
        </div>

      </div>
    </div>
  </div>
</div>
