body {
  background-color: black;
}
.hidden {
  display: none !important;
}

.container {
  height: 100vh;
}

#nav-style {
 visibility:hidden !important;
}

#landing-header {
  z-index: 1;
  text-align: center;
  padding: 3%;
  background: rgba(5, 5, 5, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  #landing-header h3 {
    color: white;
    font-size:30px;
  }

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

  .slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
  }

    .slideshow li:nth-child(1) {
      background-image: url(https://images5.alphacoders.com/573/573475.jpg)
    }

    .slideshow li:nth-child(2) {
      background-image: url(https://images4.alphacoders.com/975/975294.jpg);
      animation-delay: 10s;
    }

    .slideshow li:nth-child(3) {
      background-image: url(https://images5.alphacoders.com/721/721135.jpg);
      animation-delay: 20s;
    }

    .slideshow li:nth-child(4) {
      background-image: url(https://images4.alphacoders.com/653/653613.jpg);
      animation-delay: 30s;
    }

    .slideshow li:nth-child(5) {
      background-image: url(https://images5.alphacoders.com/588/588703.jpg);
      animation-delay: 40s;
    }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  20% {
    opacity: 1
  }

  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}
